.App {
  text-align: center;
  font-family: 'News Cycle', sans-serif;
}

.App-header {
  border-bottom: 2px solid rgb(254,243,202);
  display: block;
  height: 10%;
  position: fixed;
  z-index: 9999;
  width: 100%;
  background-color: white;
}


.menuList {
  width: 40%;
  float: right;
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0;
}

.menuListItem {
  min-width: 100px;
  min-height: 50px;
  border-right: 2px solid rgb(254,243,202);
}

.siteLogo {
  height: 10%;
  width: 20%;
  text-align: left;
  padding-left: 50px;
}

.mainContent {
  padding-top: 10%;
  display: flex;
  flex-direction: column;
}


.introSection {
  width: 70%;
  margin: auto;
  border-bottom: 2px solid rgb(254,	243,	 202);

}


.introList {
  text-align:center;
  font-size: 25px;
}

.projectSection {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  border-bottom: 2px solid rgb(254,243,202);
  position: relative;
  z-index: 2;
    opacity: 1;
}

.projectHeader {
  width: 100%;
}

.project {
  width: 40%;
  margin: 15px;
  padding-right: 5px;
  border-right: 2px solid rgb(254,243,202);
  min-width: 315px;
}

img {
  width: 100%;
}

.aboutMeSection {
  width: 60%;
  margin: auto;
  border-bottom: 2px solid rgb(254,243,202);
  position: relative;
  z-index: 2;
}

@media (max-width: 720px)
 {
   .menuNav {
     display: none;
   }

   .siteLogo {
     width: 30%;
   }

   .aboutMeSection {
     width: 90%;
   }
 }
