.App {
  text-align: center;
  font-family: 'News Cycle', sans-serif;
}

.App-header {
  border-bottom: 2px solid #fbd6b9;
  display: block;
  height: 10%;
  position: fixed;
  z-index: 9999;
  width: 100%;
  background-color: white;
}

#logo-intro {
  width: 250px;
  height: 250px;
  margin: auto;
}

.menuList {
  width: 40%;
  float: right;
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  margin: 0;
}

.menuListItem {
  min-width: 100px;
  min-height: 50px;
  border-right: 2px solid #fbd6b9;

}

.menuListItem::after {
  display: block;
  height: 2px;
  width: 0px;
  content: ' ';
  background-color: #fbd6b9;
  transition: width 2s;
}

.menuListItem:hover {
  cursor: pointer;
}

.menuListItem:hover::after {
  width: 100px;
}


.mobileNavigation {
  display: none;
}

@keyframes underline  {
  0%    { border-bottom: 0px solid #fbd6b9;  }
  100%  { border-bottom: 2px solid #fbd6b9;  }
}

.siteLogo {
  height: 10%;
  width: 20%;
  text-align: left;
  padding-left: 50px;
}

.mainContent {
  padding-top: 7%;
  display: flex;
  flex-direction: column;
}


.introSection {
  width: 50%;
  margin: auto;
  border-bottom: 2px solid #fbd6b9;
  font-family: 'Libre Baskerville';
  align-items: center;
  display: flex;
  min-height: 300px;
}


.introList {
  text-align: center;
  font-size: 25px;
}

.projectSection {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  border-bottom: 2px solid #fbd6b9;
  position: relative;
  z-index: 2;
  opacity: 1;
}

.projectHeader {
  width: 100%;
}

.project {
  width: 40%;
  margin: 15px;
  padding-right: 5px;
  border-right: 2px solid #fbd6b9;
  min-width: 315px;
  cursor: pointer;
}

.project:hover {
  opacity: .7;
}

img {
  width: 100%;
}

.aboutMeSection {
  width: 70%;
  margin: auto;
  border-bottom: 2px solid #fbd6b9;
  position: relative;
  z-index: 2;
  min-height: 250px;
  text-align: center;
}

@media (max-width: 720px)
 {
   .siteLogo {
     display: none;
   }


   #menuNavList {
     display: block;
     float: left;
     width: 80%;
     margin-top: 40px;
     background-color: #fbd6b9;
     position: absolute;
     z-index: -99999;
     overflow: hidden;
     animation-name: slideDownMenus;
     animation-duration: 2s;
   }

   .menuList {
     display: block;
     float: left;
     width: 80%;
   }

   .mobileNavigation {
     display: flex;
     margin: auto;
     width: 70%;
     height: 40px;
   }



   #menuNavListHide {
     display: none;
   }

   @keyframes slideDownMenus  {
     0%    { height: 0px;}
     100%  { height: 150px;}
   }




 }
